<%- include('../partials/header') %>
<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Release Year</th>
        <th>ESRB Rating</th>
        <th>Console</th>
      </tr>
    </thead>
    <tbody>
      <% videogames.forEach(function(g) { %>
        <tr>
          <td><%= g.title %></td>
          <td><%= g.releaseYear %></td>
          <td><%= g.esrbRating %></td>
          <td><%= g.console %></td>
          <td><a href="/videogames/<%= g._id %>">DETAILS</a></td>
          <td><a href="/videogames/<%= g._id %>/edit">EDIT</a></td>
          <td>
            <% if (user && user._id.equals(g.user)) { %>
            <form id="delete-btn" action="/videogames/<%= g._id %>?_method=DELETE" method="POST">
              <button type="submit" id="delete">Delete</button>
            </form>
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer') %>